
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} {{ config.TITLE }}</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <style>
        nav a {
            color: #000000;
            font-size: 2em;
            margin-left: 10px;
            text-decoration: none;
        }
    </style>

</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">{{ config.TITLE }}</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>
</html>